.container{
    height:calc(100vh - 100px);
    background-color: #FFFFFF;
    overflow: hidden;
}
.arrowContainer{
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
    color:#FFFFFF;
}
.wrapper{
    width: 400vw;
    height: 100%;
    display: flex;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    flex-direction: row;
    background-color: #000000;
    transition: all 1.5s ease-in-out;
}
.imgContainer{
    width: 100vw;
    height: 100%;
    position: relative;
}