.container{
     width:50%;
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 40px;
     cursor: pointer;
}

.title{
    font-weight: bold;
    font-size: 18px;
    color: #FF9800;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color:#666;
}
.desc{
    text-align: center;
    color:#777;
}